{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}選課小幫手{% endblock title %}</title>
        <link href="{% static 'course/toastr/toastr.css' %}" rel="stylesheet"/><!--這是toast message的css-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Han/2.3.0/han.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'course/bootstrap/css/bootstrap.min.css' %}">
        <link href="{% static 'course/font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
        {% block eachStyle %}{% endblock eachStyle%}
    </head>

    <body>
    {% block navbar %}
    <div class="ui tiny menu">
      <a class="active item" href="{% url 'entry:entry' %}">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          Language <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div>
        <div class="item">
            <div class="ui primary button">Sign Up</div>
        </div>
      </div>
    </div>
    {% endblock navbar %}
    {% block content %}{% endblock content %}
    </body>
    <!--引入Bootstrap Ｊs-->
    <script src="{% static 'course/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- 引入Semantic Ui Ｊs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <script src="{% static 'course/toastr/toastr.js' %}"></script>

</html>