{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}選課小幫手{% endblock title %}</title>
        <link href="{% static 'coursepickinghelper/toastr/toastr.css' %}" rel="stylesheet"/><!--這是toast message的css-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Han/2.3.0/han.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'coursepickinghelper/bootstrap/css/bootstrap.min.css' %}">
        <link href="{% static 'coursepickinghelper/font-awesome-4.3.0/css/font-awesome.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
        {% block eachStyle %}{% endblock eachStyle%}
    </head>

    <body>
    {% block navbar %}{% endblock navbar %}
    {% block content %}{% endblock content %}
    </body>
    <!--引入Bootstrap Ｊs-->
    <script src="{% static 'coursepickinghelper/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- 引入Semantic Ui Ｊs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <script src="{% static 'coursepickinghelper/toastr/toastr.js' %}"></script>

</html>