<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>選課小幫手</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- <link href="course.css" rel="stylesheet"> -->
    <style>
    body {
      min-width: 1024px;
      max-width: 1230px;
    }
    .btn a i {
        color: black;
    }
    .credit-container {
        margin: 8px;
        margin-top: 16px;
    }
    .searchInput {
        border-radius: 6px 0px 0px 6px!important;
    }
    .searchButton {
        border-radius: 0px 6px 6px 0px!important;
    }
    .search_result {
      height: 400px;
      overflow-y: scroll;;
    }
    .search_result_title {
        padding: 8px;
    }
    .search_result_title span {
        border: 1px solid grey;
        padding: 3px 8px 3px 8px;
        border-radius: 8px;
        background-color: white;
    }

    #time-table tbody tr td:hover {
      box-shadow: 0px 0px 2px black inset;
    }

    #time-table tbody th {
        height: 11vh;
    }

    </style>
</head>

<body>
    <div class="ui container">
        <div class="ui large menu">
            <a class="item" href="/entry">Home</a>
            <a class="active item" href="/course/course_zh_TW/">選課小幫手</a>
            <a class="item" href="http://feedback.nchusg.org">課程心得</a>
            <!-- <a class="item" href="/tiagenda/">Tiagenda</a> -->
            <a class="item" href="/roll_call/">興鮮人</a>
            <a class="toc item">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>

            <div class="right item">
                <a class="ui button">HI {{request.user.name}}</a>
                <a class="ui button" href="/zh-tw/accounts/logout/">登出</a>
            </div>

            <div class="ui search right item">
                <div class="ui input">
                    <input class="prompt searchInput" type="text" placeholder="輸入名稱、老師、代碼">
                    <button class="ui button searchButton"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>

    <!-- Course App Starts from here -->
    <div class="ui grid timetable-container">
        <div class="column eleven wide">
            <div class="timetable">
                <div id="time-table">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th style="width: 2%;"></th>
                                <th style="width: 10%;">一</th>
                                <th style="width: 10%;">二</th>
                                <th style="width: 10%;">三</th>
                                <th style="width: 10%;">四</th>
                                <th style="width: 10%;">五</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-hour="1" class="active">
                                <th>
                                    <h5 class="time">08:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="2" class="active">
                                <th>
                                    <h5 class="time">09:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="3" class="active">
                                <th>
                                    <h5 class="time">10:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="4" class="active">
                                <th>
                                    <h5 class="time">11:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="5" class="active">
                                <th>

                                    <h5 class="time">13:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="6" class="active">
                                <th>

                                    <h5 class="time">14:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="7" class="active">
                                <th>

                                    <h5 class="time">15:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="8" class="active">
                                <th>

                                    <h5 class="time">16:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="9" class="active">
                                <th>

                                    <h5 class="time">17:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="10" class="active" style="display:none">
                                <th>

                                    <h5 class="time">18:20</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="11" class="active" style="display:none">
                                <th>

                                    <h5 class="time">19:15</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="12" class="active" style="display:none">
                                <th>

                                    <h5 class="time">20:10</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                            <tr data-hour="13" class="active" style="display:none">
                                <th>

                                    <h5 class="time">21:05</h5>
                                </th>
                                <td data-day="1"><span class=""></span></td>
                                <td data-day="2"><span class=""></span></td>
                                <td data-day="3"><span class=""></span></td>
                                <td data-day="4"><span class=""></span></td>
                                <td data-day="5" class=""><span class=""></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="column five wide" id="arrange_timetable">
            <div class="ui grid">
                <div class="column two wide">
                    <button type="button" class="btn" onclick="$('.ui.modal').modal('show');">
                        <a><i class="fa fa-search"></i></a>
                    </button>
                </div>
                <div class="column two wide">
                    <button type="button" class="btn post_for_course">
                        <a><i class="fa fa-floppy-o"></i></a>
                    </button>
                </div>
                <div class="column two wide">
                    <button type="button" class="btn" id="saveAsPicture">
                        <a><i class="fa fa-picture-o"></i></a>
                    </button>
                </div>
                <!-- <div class="column two wide">
                    <button type="button" class="btn">
                        <a> <i class="fa fa-pencil"></i></a>
                    </button>
                </div>
                <div class="column two wide">
                    <button type="button" class="btn">
                        <a><i class="fa fa-calendar-check-o"></i></a>
                    </button>
                </div>
                <div class="column two wide">
                    <button type="button" class="btn">
                        <a><i class=" fa fa-share-alt"></i></a>
                    </button>
                </div> -->

                <div class="column two wide">
                    <button type="button" class="btn" id="toggleTable" value="sun">
                        <a><i id="sun-span" class="fa fa-sun-o"></i></a>
                        <a><i id="moon-span" class="fa fa-moon-o" style="display: none;"></i></a>
                    </button>
                </div>
            </div>

            <div class="credit-container">
                <i class="fa fa-user" aria-hidden="true"></i> 學分 <span class="badge" id="class_credit"></span>
            </div>

            <div class="column twelve wide">
                <div>
                    <div class="search_result">
                        <div class="search_result_title">
                            <span class="human_title">人文 -</span>
                        </div>
                        <div class="human"></div>
                        <div class="search_result_title">
                            <span class="society_title">社會 -</span>
                        </div>

                        <div class="society"></div>
                        <div class="search_result_title">
                            <span class="nature_title">自然 -</span>
                        </div>

                        <div class="nature"></div>
                        <div class="search_result_title">
                            <span class="PE_title">體育 -</span>
                        </div>

                        <div class="PE"></div>
                        <div class="optional"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui modal" id="curriculum-title">
        <i class="close icon"></i>
        <div class="header ">
            <h3 id="myModalLabel"><span class="fa fa-heart fa-1x fa-fw"></span> 選擇系級</h3>
        </div>
        <div class="content">
            <form class="ui form ">
                <div class="field" id="degree_div">
                    <label for="m_career">學制</label>
                    <select class="form-control " name="m_career" id="m_career">
                        <option value="0">請選擇學制</option>
                        <option value="U">學士班</option>
                        <option value="G">碩士班</option>
                        <option value="D">博士班</option>
                        <option value="R">產專班</option>
                        <option value="W">碩專班</option>
                        <option value="N">進修學士班</option>
                    </select>
                </div>
                <div class="field" id="d_major_group">
                    <label for="v_major2">系所</label>
                    <select class="form-control " name="v_major2" id="d_major">
                        <option>請選擇 外系查詢的系所</option>
                    </select>
                </div>
                <div class="field" id="d_level_group">
                    <label for="v_major2 ">年級</label>
                    <select class="form-control " name="v_level2" id="d_level">
                        <option>請選擇 外系查詢的年級</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i></span>
            </button>
            <button type="button" class="btn btn-success" data-dismiss="modal " id="department_search"><i class="fa fa-check" aria-hidden="true"></i> </button>
        </div>
    </div>

    <!-- Course App Ends here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <!-- 引入Semantic Ui Ｊs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    {% include 'course/js_script_tag.html' %}
</body>

</html>
